<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/notfound/style" />
    <script src="/notfound/main" type="module"></script>
    <title>Not Found</title>
  </head>
  <body id="body" class="h-100 text-center text-white dark-mode bg-dark">
    <% var user = undefined; %>
    <div id="page-container">
      <div
        class="cover-container h-100 w-100 align-items-center p-3 mx-auto mt-3"
      >
        <main class="px-3">
          <h1 id="sorry-heading">
            Sorry, this business card is not available at this time.
          </h1>
          <!-- This creates a divider to indicate the jump from the header to the actual content -->
          <hr />
          <h4>
            The card must have been deleted by the owner or you were sent to an invalid link. <br>
            Scan a GOON Card QR code to view a valid business card!
          </h4>
          <p id="interested-message">
            Interested in your own GOON card?
            <a class="text-warning" href="/views/account/signup/"
              >Sign up here</a
            >
          </p>
        </main>
      </div>
      <%- include('../partials/footer'); %> 
      <% if (typeof user === 'undefined') { %>
      <%- include('../partials/defaultSettings', {user: user}) %> 
      <% } %>
    </div>
  </body>
</html>
