#profile-owner-name {
  color: #ffc107;
}

.profile-info-div {
  background-color: white;
  border-radius: 10px;
  padding: 10px 5px;
  margin-top: 10px;
}

.profile-info-value {
  color: black;
}

#interested-message {
  margin-top: 50px;
}

i {
  color: black;
  margin: 0px 10px;
  font-size: 25px;
}
