<div class="row col-12 mt-5">
  <footer id="footer" class="mt-auto text-white-50 mb-2">
    <div class="container">
      Made with <i class="fa fa-heart heart text-warning"></i> by the
      <a
        id="Architects"
        class="text-warning"
        type="button"
        data-bs-container="body"
        data-bs-toggle="tooltip"
        data-bs-trigger="hover focus"
        data-bs-placement="top"
        data-bs-html="true"
        title="<em>Sterly Deracy</em> | <em>Leah Kazenmayer</em> | <em>Shane Matyi</em> | <em>Nisha Reddy</em> | <em>Payton Shaltis</em>"
      >
        Goon Squad (2022).
      </a>
    </div>
  </footer>
</div>
<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
</script>
