<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="/account/generate_qr_code/style" />
    <script src="/account/generate_qr_code/main" type="module"></script>
  </head>
  <body class="h-100 text-center text-white bg-dark">
    <div class="row col-12"><%- include('../../partials/navbar'); %></div>

    <div
      class="cover-container w-100 align-items-center h-75 p-3 mx-auto"
    >
      <div class="row col-12">
        <main class="px-3">

          <div class="form-check form-switch form-switch-xl">
            <input class="form-check-input" type="checkbox" role="switch" id="instagram">
            <label class="form-check-label" for="instagram">Instagram</label>
          </div>
          <div class="form-check form-switch form-switch-xl">
            <input class="form-check-input" type="checkbox" role="switch" id="facebook">
            <label class="form-check-label" for="facebook">Facebook</label>
          </div>
          <div class="form-check form-switch form-switch-xl">
            <input class="form-check-input" type="checkbox" role="switch" id="twitter">
            <label class="form-check-label" for="twitter">Twitter</label>
          </div>

          <form id="generate-form">
            <input
              id="url"
              type="url"
              placeholder="Enter a URL"
              class="w-full border-2 border-gray-200 rounded p-3 text-grey-dark mr-2 focus:outline-none"
              required
            />

            <select
              class="w-full border-2 border-gray-200 rounded p-3 text-grey-dark mr-2 focus:outline-none"
              name="size"
              id="size"
            >
              <option value="100x100">100x100</option>
              <option value="200x200" selected>200x200</option>
              <option value="300x300">300x300</option>
            </select>
            <a
              id="qr_submit"
              href="#"
              class="btn btn-warning btn-lg"
              role="button"
              aria-disabled="true"
              >Generate</a
            >
          </form>
          <br/>
          <div id="qrcode-div"></div>
        </main>
      </div>
      <div class="row col-12">
        <footer class="footer mt-auto text-white-50">
          <div class="container">
            Made with <i class="fa fa-heart heart text-warning"></i> by the
            <a
              id="Architects"
              class="text-warning"
              type="button"
              data-bs-container="body"
              data-bs-toggle="tooltip"
              data-bs-trigger="hover focus"
              data-bs-placement="top"
              data-bs-html="true"
              title="<em>Sterly Deracy</em> | <em>Leah Kazenmayer</em> | <em>Shane Matyi</em> | <em>Nisha Reddy</em> | <em>Payton Shaltis</em>"
            >
              Goon Squad (2022).
            </a>
          </div>
        </footer>
      </div>
    </div>

    <!--Script Link put before end of </body> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script>
      var tooltipTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
      );
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });
    </script>
  </body>
</html>
