/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  background: rgb(38, 38, 38);
  background: radial-gradient(
    circle,
    rgba(38, 38, 38, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

/* Dropdown menu background color*/

.navbar-nav > li > .dropdown-menu {
  background-color: #212529;
}

/* Dropdown menu font color*/

.navbar-nav > li > .dropdown-menu a {
  color: #fff;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4) !important;
}

.nav-link {
  color: #ffc008;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
