<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/header'); %>
    <title>Log in</title>
    <link rel="stylesheet" href="/account/login/style" />
    <script src="/account/login/main" type="module"></script>
  </head>
  <body
    class="vh-100 bg-image bg-dark"
    style="background-image: url('/gooncardbackground.jpg')"
  >
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card bg-dark" style="border-radius: 15px">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center text-white mb-5">
                  Log In
                </h2>

                <p class="message text-danger"><%= error %></p>
                <form class="text-white" action="/account/login" method="post">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="email"> Email</label>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control form-control-lg"
                      value="<%= loginValues?.email %>"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="password">
                      Password (8 Letter Minimum)
                    </label>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="form-control form-control-lg"
                      value="<%= loginValues?.password %>"
                    />
                  </div>

                  <div class="d-flex justify-content-center">
                    <button
                      type="submit"
                      id="login"
                      class="btn btn-warning btn-block btn-lg gradient-custom-4"
                      disabled
                    >
                      Login
                    </button>
                  </div>

                  <p class="text-center text-white mt-5 mb-0">
                    Don't have an account yet?
                    <a href="/account/signup" class="fw-bold text-white">
                      Sign up here
                    </a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
