<!DOCTYPE html>
<html id="html" lang="en" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
    <title>Profile</title>
    <link rel="stylesheet" href="/account/profile/style" />
    <script src="/account/profile/main" type="module"></script>
  </head>
  <body class="h-100 text-center text-white bg-dark">
    <div id="page-container">
      <div class="row col-12"><%- include('../../partials/navbar'); %></div>

      <!-- <h1>Social Media Platforms</h1> -->
      <div class="cover-container w-100 d-flex align-items-center p-3 mx-auto">
        <div class="row col-12">
          <main class="px-3">
            <h1>Profile</h1>
            <h1 id="edit-existing-header">Edit Existing</h1>

            <div id="live-alert-placeholder"></div>

            <table id="accounts-table" class="table table-borderless">
              <thead>
                <tr>
                  <th>Label</th>
                  <th>Value</th>
                  <th colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody id="accounts-table-body"></tbody>
            </table>
            <h1 id="add-new-account-header">Add a New Account</h1>
            <div>
              <input
                id="add-new-label"
                class="form-control inline-block-child"
                placeholder="Label"
              />
              <input
                id="add-new-value"
                class="form-control inline-block-child"
                placeholder="Value"
              />
              <button
                type="button"
                id="add-new-type"
                class="form-control inline-block-child"
                value="0"
              >
                Casual
              </button>
              <button
                type="submit"
                id="add-new-account-submit"
                class="btn btn-warning inline-block-child"
              >
                Submit
              </button>
            </div>
          </main>
        </div>
      </div>
      <%- include('../../partials/footer'); %>
    </div>
  </body>
</html>
