* {
  --bs-gutter-x: 0rem !important;
}

/* Makes it so that the input doesn't look all spread out on wider screens */
@media screen and (max-width: 850px) {
  input {
    max-width: 15vw;
  }
}

/* Makes it so that the table and input doesn't look all spread out on wider screens */
@media screen and (min-width: 850px) {
  #accounts-table {
    max-width: 50vw;
  }

  input {
    max-width: 15vw;
  }
}

/* Specify dark mode color scheme for the header rows */
.dark-mode #edit-existing-header {
  color: #ffc107;
}

.dark-mode #add-new-account-header {
  color: #ffc107;
}

/* Specify light mode color scheme for the header rows */
.light-mode #edit-existing-header {
  color: #2d2363;
}

.light-mode #add-new-account-header {
  color: #2d2363;
}

/* Specify dark mode theme for the rest of the table */
.dark-mode #accounts-table {
  margin: auto;
  color: white;
}

/* Specify light mode theme for the rest of the table */
.light-mode #accounts-table {
  margin: auto;
  color: #2d2363;
}

input {
  margin: auto;
}

/* Specify dark mode theme for form control when clicked */
.dark-mode .form-control:focus {
  border-color: #ffc107;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #ffc107;
}

/* Specify light mode theme for form control when clicked */
.light-mode .form-select:focus {
  border-color: #2d2363;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #2d2363;
}

.inline-block-child {
  display: inline-block;
}

.form-switch .form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}

/* Specify dark mode theme for form control when checked */
.dark-mode .form-switch .form-check-input:checked {
  background-color: #ffc107;
  border-color: #ffc107;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

/* Specify light mode theme for form control when checked */
.light-mode .form-switch .form-check-input:checked {
  background-color: #2d2363 !important;
  border-color: #2d2363 !important;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.form-switch.form-switch-m .form-check-input {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 5rem;
  float: none;
}

select {
  max-width: fit-content;
}

.modal table,
th,
td {
  border: none;
}
