@media screen and (max-width: 850px) {
  input {
    max-width: 25vw;
  }
}

/* Makes it so that the table and input doesn't look all spread out */
@media screen and (min-width: 850px) {
  #accounts-table {
    max-width: 50vw;
  }
  input {
    max-width: 15vw;
  }
}

#edit-existing-header,
#add-new-account-header {
  color: #ffc107;
}

#accounts-table {
  margin: auto;
  color: white;
}

input {
  margin: auto;
}

.form-control:focus {
  border-color: #ffc107;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #ffc107;
}

.inline-block-child {
  display: inline-block;
}

.form-switch .form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
  background-color: #ffc107;
  border-color: #ffc107;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.form-switch.form-switch-m .form-check-input {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 5rem;
  float: none;
}
