<!DOCTYPE html>
<html id="html" lang="en" class="h-100">
  <head>
    <%- include('../partials/header'); %>
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="/home/style" />
    <script src="/home/main" type="module"></script>
  </head>
  <body class="h-100 text-center text-white bg-dark">
    <div id="page-container">
      <div class="row col-12"><%- include('../partials/navbar'); %></div>
      <div
        class="cover-container h-100 w-100 align-items-center p-3 mx-auto mt-3"
      >
        <div class="row col-12 mt-3">
          <main class="px-3" id="main-content">
            <!--These buttons are to autmatically toggle all the switches for the user-->
            <button id="casual-btn" class="btn btn-warning btn-lg" type="button">Casual</button>
            <button id="professional-btn" class="btn btn-warning btn-lg" type="button">
              Professional
            </button>
            <button id="all-btn" class="btn btn-warning btn-lg" type="button">All</button>

            <br /><br />

            <div id="toggles-div"></div>

            <form id="generate-form" class="mb-3">
              <select
                class="w-full border-2 border-gray-200 rounded p-3 text-grey-dark mr-2 focus:outline-none"
                name="size"
                id="size"
              >
                <option value="100x100">100x100</option>
                <option value="200x200" selected>200x200</option>
                <option value="300x300">300x300</option>
              </select>
              <button
                id="qr-submit"
                class="btn btn-warning btn-lg"
                role="button"
                aria-disabled="true"
                disabled
              >
                Generate
              </button>
            </form>
            <br />
            <div id="qrcode-div" class="m-auto"></div>
          </main>
        </div>
        <%- include('../partials/footer'); %>
      </div>
    </div>
  </body>
</html>
