.button {
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 20px;
}

.button:disabled {
  background-color: #88690e;
  color: black;
  border: 2px solid black;
}

.submit {
  background-color: #ffc008;
  color: black;
  border: 2px solid black;
}

.submit:enabled:hover {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
}

.form-check {
  display: inline-table;
}

.mb-3 {
  display: inline-flex;
}

#cancel-changes {
  margin-right: 0.5em;
}

#save-changes {
  margin-left: 0.5em;
}

/* Modal CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative;
  background-color: #d6d7d9;
  padding: 20px;
  margin: auto;
  width: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: #212121;
}
.close-btn {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
}
.close-btn:hover {
  color: lightgrey;
}

.modal-content h1 {
  background-color: black;
  background-size: cover;
  color: #d6d7d9;
}

.modal-content h4 {
  text-decoration: underline;
}
