.button {
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 20px;
}

.button:disabled {
  background-color: #88690e;
  color: black;
  border: 2px solid black;
}

.submit {
  background-color: #ffc008;
  color: black;
  border: 2px solid black;
}

.submit:enabled:hover {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
}
