<!DOCTYPE html>
<html id="html" lang="en">
  <head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/aboutus/style" />
    <script src="/aboutus/main" type="module"></script>
    <title>About Us</title>
  </head>
  <body id="body" class="h-100 text-center text-white dark-mode bg-dark">
    <div id="page-container">
      <div class="row col-12"><%- include('../partials/navbar'); %></div>

      <div class="row col-12">
        <div class="w-50 m-auto mt-5 mb-5" style="border-radius: 15px">
          <div id="content-div" class="text-white text-center pt-5 mb-5">
            <h1><span class="contrast">About Us</span></h1>
            <!-- This creates a divider to indicate the jump from the header to the actual content -->
            <hr />
            <p class="contrast">
              Hello! Welcome to the Generated Optional Online Network (G.O.O.N.)
              card. This was developed during our Human-Computer Interaction
              class in the fall of 2022. This application was designed to be
              used at networking events, with a focus on providing users with
              the ability to generate QR codes with all of their social media
              handles on the fly. We also implemented some accessible features
              to include more users for this application. Thank you so much for
              trying out our application! We hope you enjoy :)
            </p>
          </div>
          <br />
        </div>
      </div>
      <%- include('../partials/footer'); %> <%-
      include('../partials/defaultSettings', {user: user}) %>
    </div>
  </body>
</html>
