<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/aboutus/style" />
    <script src="/aboutus/main" type="module"></script>
    <title>About Us</title>
  </head>
  <body class="h-100 text-center text-white bg-dark">
    <div class="row col-12"><%- include('../partials/navbar'); %></div>

    <div class="row col-12">
      <div class="w-50 m-auto mt-5 mb-5" style="border-radius: 15px">
        <div class="text-white text-center pt-5 mb-5">
          <h1>About Us</h1>
          <!-- This creates a divider to indicate the jump from the header to the actual content -->
          <hr />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
            mollitia, molestiae quas vel sint commodi repudiandae consequuntur
            voluptatum laborum numquam blanditiis harum quisquam eius sed odit
            fugiat iusto fuga praesentium optio, eaque rerum! Provident
            similique accusantium nemo autem. Veritatis obcaecati tenetur iure
            eius earum ut molestias architecto voluptate aliquam nihil, eveniet
            aliquid culpa officia aut!
          </p>
        </div>
        <br />
      </div>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
