<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <p class="message"><%= error %></p>
    <form action="/account/signup" method="post">
      <label for="name">First Name</label>
      <input type="text" name="first_name" id="first_name" />
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" id="last_name" />
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
      <label for="password">Password (NOT ENCRYPTED YET!)</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Sign Up</button>
    </form>
    <a href="/account/login">Log In</a>
  </body>
</html>
